*{
    margin: 0px;
    padding: 0px;
}

.font-family{
    font-family: 'Open Sans', sans-serif;
}
.remove-br:focus{
border: none;

}
input:focus{
    outline: none;
}
.main-bg-1{
    background-image: url(../images/bg-1/img-bg-1.jpg);
    background-repeat: no-repeat;
    
}